#contacto{
    padding: 20px 15px;
}

#contacto .titulo{
    margin-bottom: 20px;
    text-align: center;
    font-size: 20px;
    text-transform: uppercase;
    color: #355764;
    text-decoration: underline;
    text-decoration-color: orange;
    text-decoration-thickness: .5s;
    /* margin-top: -160px; */
    font-weight: bold;
}

#contacto .contenedor-form{
    max-width: 1100px;
    margin: auto;
}

#contacto .contenedor-form .fila{
    margin-bottom: 15px;
}

#contacto .contenedor-form .mitad{
    display: flex;
    justify-content: space-between;
}

#contacto .contenedor-form input,
#contacto .contenedor-form textarea{
    padding: 20px;
    border-radius: 20px;
    border: none;
    border: 1px solid black;
}

#contacto .contenedor-form .mitad input{
    width: 45%;
}

#contacto .contenedor-form .input-full{
    width: 100%;
}

#contacto .boton-enviar{
    display: block;
    margin: auto;
    cursor: pointer;
    transition: .5s;
    padding: 10px 15px;
    font-weight: bold;
}

#contacto .boton-enviar:hover{
    background-color: orange;
    color: #fff;
}
/* 
@media screen and (max-width: 360px){
    #contacto .titulo{
        font-size: 15px;
    }
} */
