@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@200;400;600&family=Open+Sans:wght@300;400;700&display=swap');

*{
    margin: auto;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat';
    font-size: 13px;
}

html{
    scroll-behavior: smooth;
}

#inicio{
    background: (rgba(#66f6fc), rgba(#085051));
    /* background-image: url('img/imagen-fondo-portafolio.jpg'); */
    background-size: cover;
    /* opacity: 0.5; */
    background-position: center;
    height: 70vh; 
}

#inicio .contenido header{
    background: #355764;
    position: fixed;
    width: 100%;
    z-index: 100;
    top: 0;
}

#inicio .contenido header .contenido-header{
    max-width: 1100px;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

#inicio .contenido header .contenido-header h1{
    text-align: center;
    color: white;
    margin-left: -50px;
    font-size: 20px;
}

#inicio .contenido header .contenido-header nav ul{
    list-style: none;
    display: flex;
    align-items: center;
}

#inicio .contenido header .contenido-header nav ul li a{
    text-decoration: none;
    color: #ffffff;
    margin: 0 12px;
    font-weight: 400;
    transition: .5%;
}

#inicio .contenido header .contenido-header nav .redes ul a:hover{
    color: orange ;
}

/* .redes{
    text-decoration-style: solid;
    color : #f5781a;
    display: inline-block;
    margin: 5px;
    font-size: 20px;
} */

#inicio .contenido .presentacion {
    max-width: 1100px;
    height: 70vh;
    margin: auto;
    color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 5px;
}

#inicio .contenido .presentacion .bienvenida{
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 5px;
    margin-top: 50px;
    margin-bottom: 10px;
    color: #355764;
    font-weight: bold;
}

#inicio .contenido .presentacion .bienvenida h2{
    font-size: 55px;
    margin-top: 100px;
    text-align: center;
}

#inicio .contenido .presentacion .descripcion{
    max-width: 950px;
    margin: 5px auto;
    font-size: 18px;
    text-align: center;
}

#inicio .contenido .presentacion a{
    text-decoration: none;
    display: inline-block;
    margin: 30px;
    padding-left: 20px 25px;
    border: 1px solid rgb(23, 19, 19);
    border-radius: 5px;
    color: black;
    font-weight: bold;
    text-transform: uppercase;
    transition: .5s;
    margin-bottom: 15px;
}

#inicio .contenido .presentacion a:hover{
    background-color: #f5781a;
}

@media only screen and (max-width: 768px) and (min-width: 365px){
    #inicio .contenido .presentacion .bienvenida {
        margin: 0;
    }
    #inicio .contenido .presentacion{
        margin-top: 14%;
    }
    #inicio .contenido header .contenido-header h1 {
        font-size: 150%;
        margin-left: 5px;
        /* margin: 0; */
    }
    #inicio .contenido header .contenido-header nav ul {
        flex-direction: column;
        text-align: center;
    }
    #inicio .contenido .presentacion .descripcion {
        font-size: 13px;
    }

}

@media screen and (max-width: 364px){
    #inicio .contenido header .contenido-header h1{
        margin-left: 5px;
    }
    #inicio .contenido header .contenido-header{
        flex-direction: column;
    }

    #inicio .contenido header .contenido-header nav ul{
        flex-direction: column;
    }

    #inicio .contenido .presentacion{
        margin-top: 100px;
    }
    #inicio .contenido .presentacion .descripcion{
        font-size: 10px;
    }
    }
