#formacion-academica{
    /* padding: 260px 15px; */
    text-align: center;
    /* margin-top: -20%;
    margin-bottom: 15%; */
    /* background-color: rgb(241, 232, 232); */
    margin-top: -60px;
}

#formacion-academica .titulo{
    font-size: 20px;
    text-transform: uppercase;
    color: #355764;
    text-decoration: underline;
    text-decoration-color: orange;
    text-decoration-thickness: .5s;
    font-weight: bold;   
}

#formacion-academica .fila{
    display: flex;
    justify-content: space-between;
    max-width: 1100px;
    margin: -10px auto;
}

#formacion-academica .fila .carrera{
    max-width: 600px;
    padding: 60px;
    margin: 0 5px;
    border-radius: 5px;
    transition: .5s;    
}

.logo{
    width: 100%;
    margin-top: 10px;
}

@media screen and (max-width: 360px){
    #formacion-academica{
        padding-top: 20px;
    }

    #formacion-academica .titulo{
        font-size: 15px;
    }
    #formacion-academica .titulo{
        margin: 0;
        margin-bottom: 10px;
    }
        
}

@media only screen and (max-width: 768px) and (min-width: 360px){
    #formacion-academica .fila .carrera{
        padding: 15px 15px 15px 15px;
        margin-left: 35px;
    }
    #formacion-academica .titulo{
        margin-bottom: 28px;
    }
}
@media screen and (max-width: 360px){
    #formacion-academica .fila{
        flex-direction: column;
}
}