.caja-skills{
    /* background: linear-gradient(#66f6fc,#085051); */
    /* background-image: url('/img/imagen-fondo-portafolio.jpg'); */
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    /* padding: 80px 0; */
    text-align: center;
    list-style: circle;
    display: flex;
    align-items: center;
    flex-direction: column;
    margin-top: -35px;
    margin-bottom: 30px;
}

.caja-skills .skill{
    max-width: 600px;
    margin: 20px auto;
}

.caja-skills h3{
    text-align: center;
    font-size: 22px;
    text-transform: uppercase;
    color: #355764;
    text-decoration: underline;
    text-decoration-color: orange;
    text-decoration-thickness: .5s;
    font-weight: bold;
}

@media screen and (max-width: 360px){
    .caja-skills {
        padding-top: 20px;
    }

    .caja-skills h3{
        font-size: 15px;
    }
}


@media only screen and (max-width: 768px) and (min-width: 360px){
    .caja-skills{
        margin: 0;
    }
}


/* 
@media screen and (min-width: 360px){
    .caja-skills{
        margin-top: 20px;
    }
    .caja-skills h3{
        font-size: 15px;
    }
} */